{
    admin 0.0.0.0:2019 {
        origins caddy:2019 localhost:2019
    }
}

:80 {
    handle /api/* {
        reverse_proxy backend:3000
    }
    handle {
        reverse_proxy frontend:4000
    }
}